@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.Chakra-Petch {
  font-family: Chakra Petch;
}

.bg-moveline {
  background: rgb(167 219 236);
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: "";
  /* show by default */
}

.link--metis::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link--metis:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.hover-it:hover {
  background-image: url("/1.jpg");
  transition: 1s ease;
}

.hover-skill:hover {
  opacity: 100%;
  transition: 1s ease;
}

.cursor {
  position: absolute;
  height: 15px;
  width: 15px;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, opacity 0.3s, width 0.3s, height 0.3s,
    border-radius 0.3s;
}

.cursor .pupil {
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
}

.cursor.hover {
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 50% 50% 40% 40%;
}

.cursor.hover .pupil {
  width: 25px;
  height: 25px;
  animation: blink 3s infinite;
}

@keyframes blink {
  0%,
  90%,
  100% {
    height: 25px;
  }
  92%,
  94% {
    height: 5px;
  }
}

@keyframes spin-blink {
  0%,
  100% {
    background-color: #ffffff;
  }
  50% {
    background-color: #000000;
  }
}

html, body {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}